body {
    background-color: #202023;
    color: #EDEDEE;
    font-family: "system-ui";
    letter-spacing: 0.2px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 250;
    width: 750px;

    .navbar {
        height: 40px;
        display: inline;
        margin-bottom: 50px;
        display: block;

        h1 {
            float: left;
            font-size: 20px;
            color: #F6E17B;
            text-decoration: underline 3px white;
            padding-left: 100px;
        }

        .menu {

            ul {
                float: right;
                padding-right: 100px;

                li {
                    list-style: none;
                    display: inline;

                    button {
                        background-color: #F6E17B;
                        border-radius: 10px;
                        height: 40px;
                        width: 120px;
                    }
                }

            }
        }

    }

    .hero {

        .my-profile-image {
            border-radius: 50%;
            width: 150px;
            height: auto;
            border: 2px solid #EDEDEE;
            display: block;
            margin: 0 auto;
            margin-bottom: 50px;
        }

        .intro {
            height: 40px;
            background-color: #313134;
            width: 550px;
            border-radius: 7.5px;
            margin: 0 auto 50px;
            text-align: center;
            vertical-align: middle;
            line-height: 40px;
            font-size: 14px;
        }

    }

    h2 {
        padding: 0px 100px 0px 100px;
        color: #F6E17B;
        text-decoration: underline 3px white;
    }

    .info {
        padding: 0px 100px 0px 100px;
        margin-bottom: 50px;
        line-height: 24px;
    }

   .skills {
    padding: 0px 100px 0px 100px;
    color: #F6E17B;
    text-decoration: underline 3px white;
    font-size: 18px;
   }

   ul {
    padding: 0px 100px 0px 100px;
    margin-bottom: 50px;

        li {
            margin-left: 50px;
        }
        
    }

}